In [ ]:
# 1. Write a Python Program to Find the Factorial of a Number?
# 2. Write a Python Program to Display the multiplication Table?
# 3. Write a Python Program to Print the Fibonacci sequence?
# 4. Write a Python Program to Check Armstrong Number?
# 5. Write a Python Program to Find Armstrong Number in an Interval?
# 6. Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
def fact(n):
  if n==1:
    return n
  else:
    return n*(fact(n-1))

In [ ]:
fact(15)

1307674368000

In [ ]:
num= int(input("Enter the number for table till 10 multiples: "))
for i in range(1,11):
  print(f"{num} X {i} = {num*i}\n")

Enter the number for table till 10 multiples: 20
20 X 1 = 20

20 X 2 = 40

20 X 3 = 60

20 X 4 = 80

20 X 5 = 100

20 X 6 = 120

20 X 7 = 140

20 X 8 = 160

20 X 9 = 180

20 X 10 = 200

In [51]:
def fib(l,a=0,b=1):
  '''fib (length of the fibonacci input as any possitive interger, starts from 0 , second digit set to 1 )
  example:
      input: fib(10)
      output: 0 1 1 2 3 5 8 13 21 54  '''
  if l==1:
    return 0 
  print(a,end=" ")
  return a + (fib(l-1,b,a+b))

In [52]:
fib(10)

0 1 1 2 3 5 8 13 21

54

In [84]:
def armstrong_num(a,_a=[]):
  """enter the number to get armstrong number 
   example:
      input: armstrong_num(153)
      output: "it is an Armstrong number" """
  z=0
  _list=list()
  b=list(str(a))
  for i in b:
    d = int(i)**len(b)
    _list.append(d)
  for i in _list:
    z+=i
  if z==a:
    return "it is an Armstrong number"
  else:
    return "it is not Armstrong number"

In [85]:
(armstrong_num(153))

'it is an Armstrong number'

In [97]:
l= input("enter lower  and upper limits of the interval: " ).split(maxsplit=2)
List=list()
for i in range(int(l[0]),int(l[1])+1):
  if "it is an Armstrong number"== armstrong_num(i):
     List.append(i)
print(List)

enter lower  and upper limits of the interval: 100 2000
[153, 370, 371, 407, 1634]

In [123]:
def sum_natural_num(n):
  """enter any positive number to get sum of all natural number till given number
  input: sum_natural_num(4)
  output: 10""" 
  if n < 0:
     return "Enter a positive number"
  else:
    sum = 0
    while(n > 0):
        sum +=n
        n-=1
    
  return sum

In [124]:
sum_natural_num(1000)

500500