In [ ]:
1. Write a Python program to convert kilometers to miles?
2. Write a Python program to convert Celsius to Fahrenheit?
3. Write a Python program to display calendar?
4. Write a Python program to solve quadratic equation?
5. Write a Python program to swap two variables without temp variable?

In [5]:
a= input("Enter the value in Km: ")
print(f"Convertion of {a}Km = {float(a)*0.621371}miles ")

Enter the value in Km: 5
Convertion of 5Km = 3.106855miles

In [6]:
a= input("Enter the temperature in celsius: ")
print(f"Convertion of {a}째C = {float(a)*32}째F ")

Enter the temperature in celsius: 100
Convertion of 100째C = 3200.0째F

In [4]:
import calendar
y = int(input("Enter year: "))
m = int(input("Enter month(example 03 for march): "))
print(calendar.month(y,m))

Enter year: 2022
Enter month(example 03 for march): 10
    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [3]:
A= int(input("To solve Ax^2+Bx+C Enter the value of A:"))
B= int(input("To solve Ax^2+Bx+C Enter the value of B:"))
C= int(input("To solve Ax^2+Bx+C Enter the value of C:"))
x= int(input("To solve Ax^2+Bx+C Enter the value of x:"))
d= A*x**2+B*x+C
print(f"{A}x^2+{B}x+{C} for x={x} is {d}")

To solve Ax^2+Bx+C Enter the value of A:3
To solve Ax^2+Bx+C Enter the value of B:5
To solve Ax^2+Bx+C Enter the value of C:6
To solve Ax^2+Bx+C Enter the value of x:2
3x^2+5x+6 for x=2 is 28

In [7]:
a= 19 
b =10
a,b=b,a
print(a,b)

10 19