In [ ]:
# 1. What exactly is []?

In [ ]:
# square brackets are generally use for indexing values and it is also use to assign a list "variable = []"

In [ ]:
# 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [ ]:
spam= [2, 4, 6, 8, 10]
spam[2]="hello"
spam

[2, 4, 'hello', 8, 10]

In [ ]:
3. What is the value of spam[int(int('3' * 2) / 11)]?

In [ ]:
spam= ['a', 'b', 'c', 'd']
# d will be the output

In [ ]:
spam= ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

In [ ]:
4. What is the value of spam[-1]?

In [ ]:
spam= ['a', 'b', 'c', 'd']
# it will give last value in list

In [ ]:
spam= ['a', 'b', 'c', 'd']
spam[-1]

'd'

In [ ]:
# 5. What is the value of spam[:2]?
# it will give ['a','b']
spam[:2]

['a', 'b']

In [ ]:
Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [ ]:
6. What is the value of bacon.index('cat')?

In [13]:
#as the input given in the assignment the string included comma after cat and ask to resolve queries on cat str so modifing this input to "cat" from "cat,"
bacon= [3.14, 'cat', 11, 'cat' ,True]  

bacon.index('cat') # index attribute is work from 0th element till last element so this is giving out put as 1

1

In [11]:
# 7. How does bacon.append(99) change the look of the list value in bacon?

In [12]:
bacon= [3.14, 'cat', 11, 'cat' ,True]
bacon.append(99)
# bacon = [3.14, 'cat', 11, 'cat' ,True,99]
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
8. How does bacon.remove('cat') change the look of the list in bacon?

In [16]:
bacon= [3.14, 'cat', 11, 'cat' ,True]
bacon.remove('cat')
print(bacon)    #if we rerun this query then it will remove the nxt 1st same variable in this case it will remove the cat at [2]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

[3.14, 11, True]

In [ ]:
9. What are the list concatenation and list replication operators?

In [20]:
bacon= [3.14, 'cat', 11, 'cat' ,True]
bacon1= [3.14, 'cat', 11, 'cat' ,True]+bacon
print("concatenation example:  ",bacon1)
bacon2=bacon*2
print("replaction example: ",bacon2)

concatenation example:   [3.14, 'cat', 11, 'cat', True, 3.14, 'cat', 11, 'cat', True]
replaction example:  [3.14, 'cat', 11, 'cat', True, 3.14, 'cat', 11, 'cat', True]

In [ ]:
10. What is difference between the list methods append() and insert()?

In [22]:
bacon= [3.14, 'cat', 11, 'cat' ,True]
bacon.append("The New appended object at end")
print("appended", bacon)
bacon= [3.14, 'cat', 11, 'cat' ,True]
bacon.insert(2,"The New inserted object at the second index")
bacon


#with insert we can insert the object at any index it will shift the whole list after that and give output as shown below
# meanwhile in append item will be appended at the last of the list

appended [3.14, 'cat', 11, 'cat', True, 'The New appended object at end']

[3.14, 'cat', 'The New inserted object at the second index', 11, 'cat', True]

In [ ]:
11. What are the two methods for removing items from a list?

In [24]:
bacon= [3.14, 'cat', 11, 'cat' ,True]
bacon.remove('cat')
print("for remove",bacon)
bacon= [3.14, 'cat', 11, 'cat' ,True]
bacon.pop(1)
print("for pop",bacon)

for remove [3.14, 11, 'cat', True]
for pop [3.14, 11, 'cat', True]

In [ ]:
12. Describe how list values and string values are identical.

In [ ]:
#both have the sequence
#both can take input as str
#we can concenate or replicate both

In [ ]:
# 13.What's the difference between tuples and lists?

In [ ]:
# tuples are immutable whereas the lists are mutable
# also we can sort the list but we can't sort the tuple

In [ ]:
14. How do you type a tuple value that only contains the integer 42?

In [ ]:
(42)

In [ ]:
15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [26]:
bacon= [3.14, 'cat', 11, 'cat' ,True]
bacon= tuple(bacon)
print(f"type of the Bacon {bacon}{type(bacon)}")
bacon= (3.14, 'cat', 11, 'cat' ,True)
bacon = list(bacon)
print(f"type of the Bacon {bacon}{type(bacon)}")

type of the Bacon (3.14, 'cat', 11, 'cat', True)<class 'tuple'>
type of the Bacon [3.14, 'cat', 11, 'cat', True]<class 'list'>

In [ ]:
#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [35]:
# they can be any data type 
bacon= [3.14, 'cat', 11, 'cat' ,True,(3.14, 'cat', 11, 'cat' ,True),{3.14, 'cat', 11, 'cat' ,True},{3.14 : 45, 'cat':34 ,56:True},[3.14, 'cat', 11, 'cat' ,True]]
for i in bacon:
  print(f"type of the Bacon {i}  ||  {type(i)}")

type of the Bacon 3.14  ||  <class 'float'>
type of the Bacon cat  ||  <class 'str'>
type of the Bacon 11  ||  <class 'int'>
type of the Bacon cat  ||  <class 'str'>
type of the Bacon True  ||  <class 'bool'>
type of the Bacon (3.14, 'cat', 11, 'cat', True)  ||  <class 'tuple'>
type of the Bacon {11, 'cat', 3.14, True}  ||  <class 'set'>
type of the Bacon {3.14: 45, 'cat': 34, 56: True}  ||  <class 'dict'>
type of the Bacon [3.14, 'cat', 11, 'cat', True]  ||  <class 'list'>

In [ ]:
#17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [63]:
import copy
b1= [3.14, 'cat', 11, 'cat' ,True,[3.14, 'cat', 11, 'cat' ,True],[3.14, 'cat', 11, 'cat' ,True]]
b2=copy.copy(b1)
print(b1)
print(b2)
print("...........................................................................................................................................")
b1[-1]="THE Modification"
print(b1)      #in shallow copy the other list remains same after modification except if modification is made on object of a item as shown below  
print(b2)

[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], [3.14, 'cat', 11, 'cat', True]]
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], [3.14, 'cat', 11, 'cat', True]]
...........................................................................................................................................
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], 'THE Modification']
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], [3.14, 'cat', 11, 'cat', True]]

In [65]:
b1= [3.14, 'cat', 11, 'cat' ,True,[3.14, 'cat', 11, 'cat' ,True],[3.14, 'cat', 11, 'cat' ,True]]
b2=copy.copy(b1)
print(b1)
print(b2)
print("...........................................................................................................................................")
print("SHALLOW COPY")
b1[-1][0]="THE Modification"
print(b1)      #in shallow copy the other list remains same after modification except if modification is made on object of a item as shown below  
print(b2)

[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], [3.14, 'cat', 11, 'cat', True]]
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], [3.14, 'cat', 11, 'cat', True]]
...........................................................................................................................................
SHALLOW COPY
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], ['THE Modification', 'cat', 11, 'cat', True]]
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], ['THE Modification', 'cat', 11, 'cat', True]]

In [64]:
# with deepcopy we can keep our intial variable as it is for object modification
print("DEEPCOPY")
import copy
b1= [3.14, 'cat', 11, 'cat' ,True,[3.14, 'cat', 11, 'cat' ,True],[3.14, 'cat', 11, 'cat' ,True]]
b2=copy.deepcopy(b1)
print(b1)
print(b2)
print("...........................................................................................................................................")
b2[-1][0]="THE Modification"
print(b1)   
print(b2)

DEEPCOPY
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], [3.14, 'cat', 11, 'cat', True]]
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], [3.14, 'cat', 11, 'cat', True]]
...........................................................................................................................................
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], [3.14, 'cat', 11, 'cat', True]]
[3.14, 'cat', 11, 'cat', True, [3.14, 'cat', 11, 'cat', True], ['THE Modification', 'cat', 11, 'cat', True]]