
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
    
    *

    'hello'

    -87.8

    -

    /

    +

    6

Values('hello',-87.8,6) expression (*,/,-,+)

2. What is the difference between string and variable?





In variable we can store any data type 
Wherein string itself is a data type which store the characters in quotes

3. Describe three different data types.



Integers:-  it contains whole numbers
Float:- it contains fractional as well as whole numbers 
String  it is a sequence of characters represented in quotes

4. What is an expression made up of? What do all expressions do?


..............

Expression is made of operators and operand for eg.  A+b*c**d


Expressions are used to interpret the other values from given operators and operand


5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?



Expression will evaluate and return the value from given input where, statement will execute and may or may not return a value it will proceed as per the statement

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1



Bacon will have new value 23

In [ ]:
bacon =22
bacon + 1

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3




'spamspamspam' in both cases

In [ ]:
A= 'spam' + 'spamspam'

B= 'spam' * 3

print(f"'spam' + 'spamspam': = {A}")
print(f"'spam*3': = {B}")

'spam' + 'spamspam': = spamspamspam
'spam*3': = spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?




As per the python documentation rules variable must not start from keywords and number. 
As python interpreter will get confuse if they have allowed numbers and keywords as variable

9. What three functions can be used to get the integer, floating-point number, or string version of a value?


Int()

Float()

Str()

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'


We were trying to add int data type to str data type python doesn't support to add str with integers or float 


'I have eaten ' + '99' + ' burritos.'

In [ ]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [ ]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'