In [1]:
# imports
import pandas as pd 
from urllib3 import request as uReq
import json

#Requsting content from open url with GET method
get_json=uReq('GET','https://data.nasa.gov/resource/y77d-th95.json')
json_data= get_json.json()      

# with open('json_data.json',"w+")as json_file:
    # json.dump(json_data, json_file)                             # Creating json file and dumpingconte extracted content from it

structured_dataset=pd.json_normalize(json_data)    # structured_dataset.to_excel('structured_dataset.xlsx')          
# structured_dataset.to_excel("structured_dataset.xlsx")  # saving structured format data into excel file  this might require to install 'openpyxl' library

In [34]:
structured_dataset.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,"[6.08333, 50.775]",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,"[10.23333, 56.18333]",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,Point,"[-113, 54.21667]",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,Point,"[-99.9, 16.88333]",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,Point,"[-64.95, -33.16667]",NaN,NaN

In [32]:
 count=0
 def func(s):
        print('len(s)',len(s))
        if len(s) <= 1:
            return s
        print('start')
        print('S',s)
        print(s[0])
        print('s[ 2 : ] ',s[ 2 : ])
        print('func(s[ 2 : ])',func(s[ 2 : ]))
        print('+'*10)
        # count+=1
        # print('execution number ',count)
        return func(s[ 2 : ]) + s[0]
 print( func( """AeI123""" ) )

len(s) 6
start
S AeI123
A
s[ 2 : ]  I123
len(s) 4
start
S I123
I
s[ 2 : ]  23
len(s) 2
start
S 23
2
s[ 2 : ]
len(s) 0
func(s[ 2 : ])
++++++++++
len(s) 0
func(s[ 2 : ]) 2
++++++++++
len(s) 2
start
S 23
2
s[ 2 : ]
len(s) 0
func(s[ 2 : ])
++++++++++
len(s) 0
func(s[ 2 : ]) 2I
++++++++++
len(s) 4
start
S I123
I
s[ 2 : ]  23
len(s) 2
start
S 23
2
s[ 2 : ]
len(s) 0
func(s[ 2 : ])
++++++++++
len(s) 0
func(s[ 2 : ]) 2
++++++++++
len(s) 2
start
S 23
2
s[ 2 : ]
len(s) 0
func(s[ 2 : ])
++++++++++
len(s) 0
2IA

In [35]:
def non_rep(s):
    for ind in range(len(s)):
        if s.count(s[ind])==1:
            return ind
        
    return -1

In [37]:
s='asdasdasdadafqwerfaeage'
s[13]

'q'

In [40]:
sd=[1,2,3,4,5]
ds=[5,4,3,2,1]
df=sd+ds
dw= sd-ds
print(dw)

TypeError: unsupported operand type(s) for -: 'list' and 'list'